@import "../../node_modules/bootstrap/scss/bootstrap.scss"; //scss e bootstrap i dahil ettik
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.mt-n4 {
    margin-top: -1.5rem !important;
}

body{
    background-color: #212529;
}