@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.mt-n4 {
    margin-top: -1.5rem !important;
}